@font-face {
    font-family: "MyFont";
    src: url("Pixellari.ttf");
}

body {
    background-color: #fdf0f0;
    font-family: "MyFont", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.widget-container {
    background-color: #f2e3e7;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    border: 1px solid #d1c1c5;
}

.header-mac {
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
    align-items: center;
}

.dot { width: 12px; height: 12px; border-radius: 50%; }
.red { background: #ff5f56; }
.yellow { background: #ffbd2e; }
.green { background: #27c93f; }
.title { flex-grow: 1; text-align: center; margin: 0; font-weight: bold; color: #555; font-size: 0.9em; }

.top-section { 
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 20px; 
}

.date-box {
    background-color: #b8c187;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
    min-width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center; 
    text-align: center;
}

.date-box p {
    margin: 2px 0;
    font-weight: bold;
    width: 100%;
}

.date-box p { margin: 2px 0; font-weight: bold; }
#dayNumber { font-size: 1.5em; }

.progress-section { flex-grow: 1; margin-left: 20px;  text-align: center }

.progress-bar {
    background: #d1d1d1;
    height: 12px;
    border-radius: 10px;
    overflow: hidden;
    margin: 5px 0;
}

.progress-fill {
    background: #b8c187;
    width: 0%;
    height: 100%;
    transition: width 0.3s;
}


.input-section { display: flex; gap: 10px; margin-bottom: 20px; }
input {
    flex-grow: 1;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #b8c187;
    outline: none;
}

button#addBtn {
    background-color: #e57381;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.task {
    background-color: #b8c187;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 8px;
    color: white;
}

.taskText { flex-grow: 1; margin: 0 10px; }
.removeBtn { background: transparent; border: none; cursor: pointer; color: #e57381; font-weight: bold; font-size: 1.2em; }