/* Configurações Gerais */

:root {
    --bg-blue: #C2DAFF;     
    --ipod-blue: #C8EFF6;     
    --text-pink: #f4a7bc;
    --wheel-white: #f9f9f9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: var(--bg-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container Principal */

#app {
    background-color: var(--ipod-blue); 
    width: 320px;
    height: 560px;
    border-radius: 45px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

/* Tela */

#loading-screen, #track-info {
    background-color: white;
    height: 220px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
}

#loading-screen h1 {
    color: var(--text-pink);
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: bold;
}

/* Nome da Música */

#track-info {
    margin-top: 15px;
    height: 55px; 
    border-radius: 25px;
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.05);
}

/* Controles */

#controller-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#controller {
    width: 200px;
    height: 200px;
    background-color: var(--wheel-white);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* Círculo */

.center-circle {
    width: 75px;
    height: 75px;
    background-color: #A8E1EA;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    cursor: pointer;
}

.logo {
    width: 40px;
}

/* Controles do Círculo */

.control-btn {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    transition: transform 0.1s ease;
}

.control-btn:active {
    transform: scale(0.9);
}

.control-btn img {
    width: 26px;
    opacity: 0.7; 
}

.control-top { position: absolute; top: 15px; }
.control-bottom { position: absolute; bottom: 15px; }
.control-left { position: absolute; left: 15px; }
.control-right { position: absolute; right: 15px; }

/* Adesivos */

.sticker {
    position: absolute;
    width: 65px;
    z-index: 3;
    filter: drop-shadow(2px 2px 4px rgba(0,0,0,0.1));
}

.sticker-top-left { top: -15px; left: -10px; transform: rotate(-10deg); }
.sticker-top-right { top: -15px; right: -10px; transform: rotate(10deg); }
.sticker-bottom-left { bottom: 0px; left: -15px; }
.sticker-bottom-right { bottom: 0px; right: -15px; }